@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  html,
  body,
  #root {
    @apply m-0 p-0 h-full;
  }

  * {
    @apply box-border;
  }

  @font-face {
    font-family: "Proxima Soft";
    font-weight: 400;
    font-style: normal;
    src: url("fonts/proxima-soft-regular") format("truetype"),
      url("fonts/proxima-soft-regular") format("woff2"),
      url("fonts/proxima-soft-regular") format("woff"),
      url("fonts/proxima-soft-regular") format("eot"),
      url("fonts/proxima-soft-regular") format("otf");
  }
  @font-face {
    font-family: "Proxima Soft";
    font-weight: 700;
    font-style: normal;
    src: url("fonts/proxima-soft-bold") format("truetype"),
      url("fonts/proxima-soft-bold") format("woff2"),
      url("fonts/proxima-soft-bold") format("woff"),
      url("fonts/proxima-soft-bold") format("eot"),
      url("fonts/proxima-soft-bold") format("otf");
  }
}
